:root{
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --verypaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}
*, *:before, *:after {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

.wrapper {
    align-items: center;
    background: var(--paleBlue) url(/img/pattern-background-desktop.svg) no-repeat center top;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.container {
    background: white url(/img/illustration-hero.svg) no-repeat center top;
    border-radius: 1.5rem;
    width: 40rem;
}

.letter-container {
    margin-top: 25rem;
    padding: 0 5.4rem;
}

.bold-letter {
    font-weight: 900;
}

.color-letter {
    color: var(--desaturatedBlue);
    font-size: 1.3rem;
    line-height: 2.2rem;
    letter-spacing: .03rem;
}
