:root{
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --verypaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}
*, *:before, *:after {
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

.wrapper {
    align-items: center;
    background: var(--paleBlue) url(/img/pattern-background-desktop.svg) no-repeat center top;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.container {
    background: white url(/img/illustration-hero.svg) no-repeat center top;
    border-radius: 15px;
    width: 400px;
}

.plan-box {
    align-items: center;
    background-color: var(--verypaleBlue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding: 20px; 
}

.plan-box-left {
    display: flex;
    align-items: center; 
    text-align: left;
}

.plan-box-left div {
    margin-left: 10px;
    line-height: 10px;
}

h1{
    color: var(--darkBlue);
    font-weight: 900;
}

h2 {
    font-size: 16px;
    margin-top: 0;
}

p {
    color: var(--desaturatedBlue);
    font-size: 16px;
    margin: 20px;
}

span {
    color: var(--desaturatedBlue);
    font-size: 16px;
}

a {
    color: var(--brightBlue);
    cursor: pointer;
    font-weight: 700;
    transition: color .3s ease;
}

a:hover{
    color: var(--desaturatedBlue);
}

 .button {
    
    display: flex;
    justify-content: center;
    margin-left: 40px;
    text-align: center;
    width: 80%;
 }

 .payment {
    background-color: var(--brightBlue);
    border-radius: 10px;
    border: 1px solid var(--brightBlue);
    color: var(--paleBlue);
    cursor: pointer;
    font-weight: 700;
    padding: 15px;
    transition: background-color .3s ease;
 }

 .payment:hover{
    background-color: var(--desaturatedBlue);
    border: 1px solid var(--desaturatedBlue)
 }

 .cancel {
    background-color: white;
    border: 1px solid white;
    color: var(--desaturatedBlue);
    cursor: pointer;
    font-weight: 700;
    margin-top: 33px;
    transition: color .3s ease;
 }

 .cancel:hover{
    color: var(--darkBlue);
 }

 .shadow {
    -webkit-box-shadow: 3px 3px 38px -6px rgba(108,116,140,1);
    -moz-box-shadow: 3px 3px 38px -6px rgba(108,116,140,1);
    box-shadow: 3px 3px 38px -6px rgba(108,116,140,1);
 }