:root{
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --verypaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}
*, *:before, *:after {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

.wrapper {
    align-items: center;
    background: var(--paleBlue) url(/img/pattern-background-desktop.svg) no-repeat center top;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.container {
    background: white url(/img/illustration-hero.svg) no-repeat center top;
    border-radius: 1.5rem;
    width: 40rem;
}

.letter-container {
    margin-top: 25rem;
    padding: 0 5.4rem;
}

.title {
    font-size: 2.5rem;
    color: var(--darkBlue);
    margin-bottom: 0;
}

.bold-letter {
    font-weight: 900;
}

.color-letter {
    color: var(--desaturatedBlue);
    font-size: 1.3rem;
    line-height: 2.2rem;
    letter-spacing: .03rem;
}

.offer-container {
    align-items: center;
    background-color: var(--verypaleBlue);
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin: 0 4rem;
    position: relative;
}

.offer-container img {
    left: 2rem;
    position: absolute;
    width: 4rem;
}

.letter-offer-contanier{
    margin-left: 1rem;
    padding: 1.5rem;
}

.plan-letter {
    color: var(--darkBlue);
    font-size: 1.3rem;
    margin: 0;
}

.price-letter {
    margin: 0;
}

.offer-container a {
    /* position: absolute; */
    right: 2rem;
}